@page "/terminal"
@using NegueApp.Components.Terminal.NegueApp.Components.Terminal
@inject IState<TerminalStore> TerminalState


<div class="term d-flex flex-column align-items-end">
    <div class="output d-flex flex-column">
        @foreach (var line in TerminalState.Value.Ouput.CurrentOutput)
        {
            <p>@line</p>
        }
    </div>
    <div class="input w-100">
        <input type="text" @bind="TerminalState.Value.Input.Command" @onkeydown="@OnEnterPressed" />
    </div>
</div>

@code {
    private void OnEnterPressed(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            var s = $"turlututu - {TerminalState.Value.Input.Command}";
            TerminalState.Value.Ouput.CurrentOutput.Add("turlututu");
        }
    }
}
